h1 {
  color: black;
}

#form-wrapper {

  background-color: aliceblue;
  width: 330px;
  padding: 10px 10px;
}

#inventory-list {

  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.inventory-list-item {
  padding: 15px 15px;
  border-style: solid;
  border-color: black;
  border-radius: 30px;
  border-width: 2px;
  background-color: aliceblue;
}

li {
  border: 1px, solid, black;
  margin: 1em;
  list-style-type: none;
}
